### Week 4 Examples

##### If some examples are missing then it should be in the class or iLearn section

In [17]:
# while
# Input an integer and find the sum of odd numbers and even numbers

sumeven = 0
sumodd = 0

n = 1
m = int(input("Enter a positive integer : "))
while (n < m):
    if n%2 == 0:
        sumeven = sumeven + n
        n += 1
    else:
        sumodd = sumodd + n
        n +=1
        
print(" sum of even numbers : "+ str(sumeven))
print(" sum of even numbers : "+ str(sumodd))

Enter a positive integer : 10
 sum of even numbers : 20
 sum of even numbers : 25

In [25]:
# Exercise 2: input a positive integer n, output n factorial n!
# factorial using while loop
factor = 1
factorial =  1
number = int(input("enter a number : "))

while(factor <= number):
    factorial = factorial*factor
    factor += 1
print(str(number) + "! = " + str(factorial) )

enter a number : 7
7! = 5040

In [38]:
# factorial using for loop

factorial = 1

number = int(input("Enter a number : "))

for x in range(1, number+1):
    factorial = factorial*x
    
print(str(number)+ " ! = "+str(factorial))

Enter a number : 6
6 ! = 720

In [42]:
# Fibonacci for loop

n1 = 0
n2 = 1
fibonacci = 0
n3 = n1+n2
n = int(input("Enter a number : "))

print(n1)
print(n2)

for x in range(1,n+1):
    fibonacci = n1 + n2
    n1 = n2
    n2 = fibonacci
    print(fibonacci)

Enter a number : 6
0
1
1
2
3
5
8
13

In [13]:
# fibonacci using while loop

# 0,1,1,2,3,5,8,13,21...

n = int(input("Enter a number : "))
a = 0
b = 1
factor = 0

while(factor <= n+1):
    a,b = b,a+b
    print(a)
    factor = factor + 1

Enter a number : 5
1
1
2
3
5
8
13

### Class Practice

In [2]:
# While Loop

# Example 1: output integers from 1 to 10

number = 1
while(number <= 10):
    print(number)
    number +=1

1
2
3
4
5
6
7
8
9
10

In [18]:
# Example 2: calculate and output the sum and average of all integers between 1 and 100

sum = 0
n = 0
while(n< 100):
    #print(n)
    n +=1
    sum = sum + n
    print(str(n),str(sum))
    avg = sum / n
print("Average :"+str(avg))

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
Average :50.5

In [7]:
# Example 3: enter a number of positive integers ended with 0 or a negative number, output the total count of odd numbers
# and the total count of even numbers

In [1]:
# Exercise 1

even = 1
while(even <= 100):
    if even % 2 == 0:
        print(even)
    even +=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [3]:
# Exercise 1

odd = 1
while(odd <= 100):
    if odd % 2 != 0:
        print(odd)
    odd +=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [4]:
# repeatedly generate and display a random integer in [1,1000), terminate when the first multiple of 3 is generated

import random

number = random.randint(1,10000)
while(number<1000):
    print(number)
    if number % 3 == 0:
        break
    number = random.randint(1,10000)

922

In [19]:
# FOR LOOPs

for x in "COMP6010":
    print(x)

C
O
M
P
6
0
1
0

In [20]:
# range

for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [21]:
for x in range (1,10):
    if x % 3 == 0:
        break
        
    print(x)

1
2

In [22]:
for x in range (1,10):
    if x % 3 == 0:
        continue
        
    print(x)

1
2
4
5
7
8

In [23]:
# else satement in a for loop

for x in range(1,10):
    print(x)
else:
    print("Completed")

1
2
3
4
5
6
7
8
9
Completed

In [24]:
# Break and else statement in a for loop

for x in range(1,10):
    if x % 3 == 0:
        break
    print(x)
    
else:
    print("what is here cannot be displayed if break runs")

1
2

In [26]:
# continues and else statement in a for loop

for x in range(1,10):
    if x % 3 == 0:
        continue
    print(x)
    
else:
    print("print integers between 1 and 9 except multiples of 3")

1
2
4
5
7
8
print integers between 1 and 9 except multiples of 3

In [27]:
# Exercise 1

for x in range(1,100):
    if x % 2 != 0:
        print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [28]:
# Exercise 2

sum = 0
for x in range(1,101):
    sum = sum + x
    avg = sum/100
print(sum)
print(avg)

5050
50.5

In [8]:
# Exercise 3: Input integer n, calculate and output n!

# Factorial

n = int(input("Please enter a number : "))

factorial = 1

for x in range(1,n+1):
    factorial = factorial*x
print(str(n) +"!=" +str(factorial))

Please enter a number : 5
5!=120

In [1]:
# Fibonacci Number
n = int(input("please enter a number : "))
n1 = 0
n2 = 1
n3 = n1+n2
fibonacci = 1

print(n1)
print(n2)

for x in range(1,n+1):
    fibonacci = n1 + n2
    
    n1 = n2
    n2 = fibonacci
    
    print(fibonacci)

please enter a number : 7
0
1
1
2
3
5
8
13
21

In [17]:
# Nested loop
# Example 1

color = ["red", "green", "blue"] 
fruits = ["peach", "banana", "grapes"]

for x in color:
    for y in fruits:
        print(x,y)

red peach
red banana
red grapes
green peach
green banana
green grapes
blue peach
blue banana
blue grapes

In [18]:
# Example 2

i = 0
j = 0
number = 0
for i in range(0,10):
    for j in range(0,10):
        number = i*10 + j
        print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

###  iLearn Practical Class

In [1]:
# Qsn 1

x = 3

if x<5:
    print("this statement is less than 5")

else:
    print("this statement is NOT less than 5")

this statement is less than 5

In [2]:
# Qsn 2

x = 7

if x<5:
    print( "this statement is less than 5")
    
elif x == 5:
    print("x is equal to 5")
    
else: 
    print("x is greater than 5")

x is greater than 5

In [4]:
# Qsn 3

#x ="hello"

#if x.isnumeric() == False:
   # print("x is not a number")
    
#else:
  #  print(str(x) + " is a number")

In [5]:
# Qsn 3

x = "Hello"

if type(x) == int or type(x) == float:
    print("x is a number")
    
else:
    print("x is not a number")

x is not a number

In [6]:
# Qsn 4

assignmentMark = 4.5
assignmentMarkedOutOf = 9

percentage = (assignmentMark/assignmentMarkedOutOf)

if percentage > 0:
    if percentage < .50:
        print("F")
    
if percentage >= .50:
    if percentage < .65:
        print("Pass")
        
if percentage >= .65:
    if percentage < .75:
        print("Credit")
        
if percentage >= .75:
    if percentage < .85:
        print("Distinction")
        
if percentage >= .85:
    if percentage <= 1.00:
        print("High Distinction")
        
if percentage < 0 or percentage > 1:
        print("error")

Pass

In [7]:
# Qsn 5
# Example A

x = 1
for x in range(1,10):
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9

In [8]:
# Example B

x = 1
for x in range(1,11):
    print("printed a line")
    x+=1

printed a line
printed a line
printed a line
printed a line
printed a line
printed a line
printed a line
printed a line
printed a line
printed a line

In [9]:
# Example C

x = 1
for x in range(1,1):
    print("printed a line")
    x+=1

In [10]:
#Example E

for x in ["Alex","Bob","Chris","Danni"]:
    print(x)

Alex
Bob
Chris
Danni

In [11]:
#Example F

for x in ["Alex","Bob","Chris","Danni"]:
    print("printed a line")

printed a line
printed a line
printed a line
printed a line

In [12]:
# Question 6

for x in range(5,16):
    print(x)

5
6
7
8
9
10
11
12
13
14
15

In [13]:
for x in range(5,16,2):
    print(x)

5
7
9
11
13
15

In [14]:
for x in range(6,16,2):
    print(x)

6
8
10
12
14

In [15]:
# Question 7

sum = 0

for x in range(5,16,2):
    sum = sum + x
print(sum)

60

In [16]:
# Question 8

sum = 0

x = 5
while(x <= 15):
    sum = sum + x
    x += 2
print(sum)

60